.self-color{
  background-color: #153038; /* background color will be black for all browsers */
}

.self-active {
  background-color: #0e1f24; /* background color will be black for all browsers */
}

.self-font {
  font-family: serif;
  font-size: 12px;
}

.self-margin-top{
  margin-top: 12em;
}

.self-margin-end{
  margin-top: 12em;
  margin-bottom: 10em;
}