<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                {% if page.language == 'en' then %}
                    <span class="sr-only">Toggle navigation</span>
                {% elsif page.language == 'pt-BR' %}
                    <span class="sr-only">Alternar navegação</span>
                {% endif %}
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>


            </button>
            {% if page.language == 'en' then %}
                <a class="navbar-brand" href="{{ include.path-offset }}index.html">My portfolio</a>
            {% elsif page.language == 'pt-BR' %}
                <a class="navbar-brand" href="{{ include.path-offset }}index.html">Meu portfolio</a>
            {% endif %}
            
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if page.language == 'en' then %}
                    <li><a href="../pt-br/index.html">Português</a></li>
                    <a>&middot;</a>
                    <li><a href="{{ include.home-path }}">Home</a></li>
                    <li><a href="#about">About</a></li>

                {% elsif page.language == 'pt-BR' %}
                    <li><a href="../en/index.html">English</a></li>
                    <a>&middot;</a>
                    <li>
                        <a href="{{ include.home-path }}">Início</a>
                    </li>
                    
                    <li>
                        <a href="#about">Sobre</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>