<!-- Social Buttons -->
            <ul class="list-inline">
            {% if page.language == 'en' %}
              {% capture data_text %}{{ page.title }}, from {{ page.author }}'s blog{% endcapture %}
              {% assign data_title = "Share on Facebook" %}
            {% elsif page.language == 'pt-BR' %}
              {% capture data_text %}{{ page.title }}, blog do {{ page.author }}{% endcapture %}
              {% assign data_title = "Compartilhe no Facebook" %}
            {% endif %}
              <li>
                <a id="tw-root" href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }}, from {{ page.author }}'s blog" data-counturl="{{ site.url }}{{ page.url }}" data-count="horizontal" data-via="crpicanco" title="Tweet">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>

              <li id="fb-root">
                <a id="fb-fa" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}', 'facebook-share','width=580,height=296');return false;" title="{{ data_title }}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-share="true" data-text="{{ data_text }}" data-counturl="{{ site.url }}{{ page.url }}" data-proofer-ignore></a>
              </li>
            </ul>