<!-- Lazy load -->
        <!-- Twitter JavaScript
        http://www.paulund.co.uk/lazy-load-social-media
        -->
        <script type="text/javascript">
          var tweetHover = function(e){
            $(e).hover(
              function(){ // mouse enter
                if ($(this).hasClass("share-enabled")) {
                  // do nothing
                } else {
                  if (typeof (twttr) != 'undefined'){ // will load just the entered #tw-root
                    twttr.widgets.load(this);
                    $(this).addClass("share-enabled");
                  } else {  // will load all #tw-root, and it sucks
                    $.getScript('http://platform.twitter.com/widgets.js');
                    $(this).addClass("share-enabled");
                  }
                }
              },
              function(){ // mouse leave

              }
            );           
          };
          $(document).ready(function(){
            tweetHover("#tw-root");
          });
        </script>
        
        <!-- Facebook JavaScript
        https://developers.facebook.com/docs/javascript/howto/jquery/v2.4
        -->
        <script type="text/javascript">
          var facebook_sdk = '//connect.facebook.net/en_US/sdk.js';
          if (document.documentElement.lang = 'pt-BR') {
            facebook_sdk = '//connect.facebook.net/pt_BR/sdk.js';
          };
          
          var facebookHover = function(e){
            $(e).hover(
              function(){ // mouse enter
                if ($(this).hasClass("share-enabled")) {
                  // do nothing
                } else {
                  if (typeof (FB) != 'undefined') { // will load just the entered #fb-root
                    FB.XFBML.parse(this); 
                    $(this).addClass("share-enabled");
                    $(this).find("#fb-fa").remove();
                  } else { // will load all #fb-root, and it sucks too
                    $.getScript(facebook_sdk, function(){
                      FB.init({
                        appId   : '179917338701622',
                        xfbml   : true,
                        version : 'v2.4'
                      });
                    });
                    $(this).addClass("share-enabled");
                    $(document).find("[id=fb-fa]").each(function(){$(this).remove()});
                  }
                }
              },
              function(){ // mouse leave
                //
              }
            );
          };
          $(document).ready(function(){
            facebookHover("#fb-root");
          });
        </script>