<!DOCTYPE html>
<html lang="{{ page.language }}">
	{% include head.html title="Conquistas" %}

	<body>
		{% include nav.html %}

		<div class="container">
			{% if page.language == 'en' then %}
				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/en_unlocked.png">
					<p class="lead">Because life is challenging and rewarding.</p>
				</div>

				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/en_diy_pupil.png">
					<p class="lead"><a href="https://github.com/pupil-labs/pupil/wiki/Getting-Pupil-Hardware#diy">Take a look</a>&#32;it is awesome.</p>
				</div>

				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/en_MPR_drum.png">
					<p class="lead">You can listen to<a href="https://soundcloud.com/izamusic/sets/m-sica-popular-roqueira">&#32;the Album</a>.</p>
				</div>

				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/en_ODM_drum.png">
					<p class="lead">Thou shall listen to<a href="https://soundcloud.com/carlitusbatera/sets/o-despertar-dos-m-gicos">&#32;the Album</a>.</p>
				</div>

				<div class="starter-template self-margin-end">
					<img class="img-responsive center-block" src="../../media/achievements/en_newlyweds.png">
					<p class="lead">I love you girl.</p>
				</div>	
					
			{% elsif page.language == 'pt-BR' %}
				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/pt-br_unlocked.png">
					<p class="lead">Porque a vida é desafiadora e gratificante.</p>
				</div>

				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/pt-br_diy_pupil.png">
					<p class="lead"><a href="https://github.com/pupil-labs/pupil/wiki/Getting-Pupil-Hardware#diy">Dê uma olhada</a>&#32;é impressionante.</p>
				</div>

				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/pt-br_MPR_drum.png">
					<p class="lead">Você pode ouvir<a href="https://soundcloud.com/izamusic/sets/m-sica-popular-roqueira">&#32;o Álbum</a>.</p>
				</div>

				<div class="starter-template self-margin-top">
					<img class="img-responsive center-block" src="../../media/achievements/pt-br_ODM_drum.png">
					<p class="lead">Tu deves ouvir<a href="https://soundcloud.com/carlitusbatera/sets/o-despertar-dos-m-gicos">&#32;o Álbum</a>.</p>
				</div>

				<div class="starter-template self-margin-end">
					<img class="img-responsive center-block" src="../../media/achievements/pt-br_newlyweds.png">
					<p class="lead">Eu te amo menina.</p>
				</div>
			{% endif %}

		</div><!-- /.container -->

	{% include footer.html %}

	{% include global_scripts.html path-offset="../../" %}

	</body>
</html>