<!DOCTYPE html>
<html lang="{{ page.language }}" prefix="og: http://ogp.me/ns#">

	{% include head.html title="Conquistas" %}

	<body data-spy="scroll" data-target="#Scrollspy">
		{% include nav.html %}

		<div class="container starter-template">

			<div class="row">

				<!-- Left Pills-->
				<div class="col-xs-1" id="Scrollspy">
					<ul class="nav nav-pills" data-spy="affix">
						<li class=""><a class="page-scroll" href="#id-1"></a></li>
						<li class=""><a class="page-scroll" href="#id-2"></a></li>			
						<li class=""><a class="page-scroll" href="#id-3"></a></li>
						<li class=""><a class="page-scroll" href="#id-4"></a></li>			
						<li class=""><a class="page-scroll" href="#id-5"></a></li>				
					</ul>
				</div> <!-- End Left Pills-->

				<!-- Central content -->
				<div class="col-xs-10">
				{% if page.language == 'en' then %}
					<div id="id-1" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/en_unlocked.png">
						<p class="lead">Because life is challenging and rewarding.</p>
						<a href="#id-2" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-2" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/en_diy_pupil.png">
						<p class="lead"><a href="https://github.com/pupil-labs/pupil/wiki/Getting-Pupil-Hardware#diy">Take a look</a>&#32;it is awesome.</p>
						<a href="#id-3" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-3" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/en_MPR_drum.png">
						<p class="lead">You can listen to<a href="https://soundcloud.com/izamusic/sets/m-sica-popular-roqueira">&#32;the Album</a>.</p>
						<a href="#id-4" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-4" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/en_ODM_drum.png">
						<p class="lead">Thou shall listen to<a href="https://soundcloud.com/carlitusbatera/sets/o-despertar-dos-m-gicos">&#32;the Album</a>.</p>
						<a href="#id-5" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-5" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/en_newlyweds.png">
						<p class="lead">I love you girl.</p>
						<a href="#id-1" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-up fa-3x"></span>
						</a>
					</div>	
						
				{% elsif page.language == 'pt-BR' %}
					<div id="id-1" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/pt-br_unlocked.png">
						<p class="lead">Porque a vida é desafiadora e gratificante.</p>
						<a href="#id-2" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-2" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/pt-br_diy_pupil.png">
						<p class="lead"><a href="https://github.com/pupil-labs/pupil/wiki/Getting-Pupil-Hardware#diy">Dê uma olhada</a>&#32;é impressionante.</p>
						<a href="#id-3" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-3" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/pt-br_MPR_drum.png">
						<p class="lead">Você pode ouvir<a href="https://soundcloud.com/izamusic/sets/m-sica-popular-roqueira">&#32;o Álbum</a>.</p>
						<a href="#id-4" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-4" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/pt-br_ODM_drum.png">
						<p class="lead">Tu deves ouvir<a href="https://soundcloud.com/carlitusbatera/sets/o-despertar-dos-m-gicos">&#32;o Álbum</a>.</p>
						<a href="#id-5" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-down fa-3x"></span>
						</a>
					</div>

					<div id="id-5" class="self-margin-top">
						<img class="img-responsive center-block" src="../../media/achievements/pt-br_newlyweds.png">
						<p class="lead">Eu te amo menina.</p>
						<a href="#id-1" type="button" class="btn btn-default btn-lg page-scroll">
		  					<span class="fa fa-chevron-up fa-3x"></span>
						</a>
					</div> 
				{% endif %}
				</div> <!-- End Central content -->
			</div>	
		</div><!-- /.container -->

		{% include footer.html %}

		{% include global_scripts.html path-offset="../../" %}

		<!-- Scrolling Nav JavaScript -->
		<script src="../../js/jquery.easing.min.js"></script>
		<script src="../../js/scrolling-nav.js"></script>
	</body>
</html>