<!DOCTYPE html>
<html lang="{{ page.language }}">

	{% assign path_offset = '../../../' %}

	{% include blog_head.html path-offset=path_offset %}
	
	<body>
		
		{% include blog_nav.html path-offset=path_offset home-path="" %}

		<!-- Page Header -->
		<!-- Set your background image for this header on the line below.

		style="background-image: url('{{ path_offset }}media/blog/home-bg.jpg');"
		
		-->
		<header class="intro-header" style="background-color:#153038;">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading">
							<h1>{{ page.title }}</h1>
							<hr class="small">
							<span class="subheading">{{ page.content }}</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Main Content -->
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

					{% for post in site.posts %}
						{% if post.language == page.language then %}
							<div class="post-preview">
								<a href="{{ post.url }}">
									<h2 class="post-title">
										{{ post.title }}
									</h2>
									<h3 class="post-subtitle">
										{{ post.excerpt }}
									</h3>
								</a>

								{% if page.language == 'en' then %}
									<p class="post-meta">Posted by<a>&#32;{{ page.author }}</a>&#32;on&#32;{{ post.date | date: "%B %-d, %Y" }}.</p>
								{% elsif page.language == 'pt-BR' %}
									<p class="post-meta">Postado por<a>&#32;{{ page.author }}</a>&#32;em&#32;{{ post.date | date: "%-d de %B de %Y" }}.</p>
								{% endif %}

							</div>
							<hr>
						{% endif %}
					{% endfor %}

					<!-- Pager -->
					<ul class="pager">

						<li class="pull-left">
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rafael.picanco.nom.br{{ page.url }}" data-text="{{ page.title }}, from Rafael Picanço's blog" data-counturl="http://rafael.picanco.nom.br{{ page.url }}" data-count="horizontal" data-via="crpicanco">Tweet</a>
						</li>

						<li class="next">
							{% if page.language == 'en' then %}
								<a href="">Older Posts &rarr;</a>
							{% elsif page.language == 'pt-BR' %}
								<a href="">Posts Antigos &rarr;</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<hr>

		{% include blog_footer.html %}
		
		{% include global_scripts.html path-offset=path_offset %}
		
		<!-- Twitter JavaScript -->
		<script src="https://platform.twitter.com/widgets.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="{{ path_offset }}js/clean-blog.min.js"></script> 
	</body>
</html>