<!DOCTYPE html>
<html lang="{{ page.language }}" prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb#">
{% assign PATH_OFFSET = '../../../' %}
{% if page.language == 'en' then %}
	{% include blog_head.html path-offset=PATH_OFFSET share-image="http://rafael.picanco.nom.br/media/blog/in-flagellis-clean-en.png"%}
{% elsif page.language == 'pt-BR' %}
	{% include blog_head.html path-offset=PATH_OFFSET share-image="http://rafael.picanco.nom.br/media/blog/in-flagellis-clean-pt-br.png"%}
{% endif %}
	<body>
		{% include blog_nav.html path-offset=PATH_OFFSET home-path="" %}
		<!-- Page Header -->
		<!-- Set your background image for this header on the line below.
		style="background-image: url('{{ PATH_OFFSET }}media/blog/home-bg.jpg');"
		-->
		<header class="intro-header" style="background-color:#153038;">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading">
							<h1>{{ page.title }}</h1>
							<hr class="small">
							<span class="subheading">{{ page.content }}</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div= class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<ul class="list-inline text-center">
					{% if page.language == 'en' then %}
						<li>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rafael.picanco.nom.br{{ page.url }}" data-text="{{ page.title }}, from Rafael Picanço's blog" data-counturl="http://rafael.picanco.nom.br{{ page.url }}" data-count="horizontal" data-via="crpicanco">Tweet</a>
						</li>

						<li id="fb-root">
							<a class="fb-share-button" data-href="http://rafael.picanco.nom.br{{ page.url }}" data-layout="button_count" data-text="{{ page.title }}, from Rafael Picanço's blog" data-counturl="http://rafael.picanco.nom.br{{ page.url }}">Facebook</a>
						</li>
					{% elsif page.language == 'pt-BR' %}
						<li>
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rafael.picanco.nom.br{{ page.url }}" data-text="{{ page.title }}, do blog do Rafael Picanço" data-counturl="http://rafael.picanco.nom.br{{ page.url }}" data-count="horizontal" data-via="crpicanco">Tweet</a>
						</li>

						<li id="fb-root">
							<a class="fb-share-button" data-href="http://rafael.picanco.nom.br{{ page.url }}" data-layout="button_count" data-text="{{ page.title }}, do blog do Rafael Picanço" data-counturl="http://rafael.picanco.nom.br{{ page.url }}">Facebook</a>
						</li>
					{% endif %}
					</ul>
				</div>		
			</div>
		</div>

		<!-- Main Content -->
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

					{% for post in site.posts %}
						{% if post.language == page.language then %}
							<div class="post-preview">
								<a href="{{ post.url }}">
									<h2 class="post-title">
										{{ post.title }}
									</h2>
									<h3 class="post-subtitle">
										{{ post.excerpt }}
									</h3>
								</a>

								{% if page.language == 'en' then %}
									<p class="post-meta">Posted by&#32;<a>{{ page.author }}</a>&#32;on&#32;{{ post.date | date: "%B %-d, %Y" }}.</p>
								{% elsif page.language == 'pt-BR' %}
									<p class="post-meta">Postado por&#32;<a>{{ page.author }}</a>,&#32;em&#32;{{ post.date | date: "%-d" }}
			                        &#32;de&#32;
			                        {% assign m = post.date | date: "%-m" %}
			                        {% case m %}
			                            {% when '1' %}Janeiro
			                            {% when '2' %}Fevereiro
			                            {% when '3' %}Março
			                            {% when '4' %}Abril
			                            {% when '5' %}Maio
			                            {% when '6' %}Junho
			                            {% when '7' %}Julho
			                            {% when '8' %}Agosto
			                            {% when '9' %}Setembro
			                            {% when '10' %}Outubro
			                            {% when '11' %}Novembro
			                            {% when '12' %}Dezembro
			                        {% endcase %}
			                        &#32;de&#32;
			                        {{ post.date | date: "%Y" }}.
									</p>
								{% endif %}
							</div>

							<div class="row">
								<div class="col-lg-8 col-lg col-md-10">
									<ul class="list-inline">
						{% for tag in post.tags %}
										<li>
											<span class="badge" style="background-color:#255050;">{{ tag }}</span>
										</li>
						{% endfor %}
									</ul>
								</div>
							</div>
							<hr>
						{% endif %}
					{% endfor %}

					<!-- Pager -->
					<ul class="pager">
						<li class="next">
							{% if page.language == 'en' then %}
								<a href="#">Top</a>
							{% elsif page.language == 'pt-BR' %}
								<a href="#">Topo</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<hr>

		{% include blog_footer.html %}
		
		{% include global_scripts.html path-offset=PATH_OFFSET %}
		
		{% include social_scripts.html %}

		<!-- Custom Theme JavaScript -->
		<script src="{{ PATH_OFFSET }}js/clean-blog.min.js"></script> 
	</body>
</html>